.jumbotron {
  background: linear-gradient(to bottom, black 20%, transparent 70%);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.jumbotron p {
  color: white;
}

h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 100px;
  color: black;
  text-shadow: 3px 3px 0 white;
  letter-spacing: -4px;
}

.scoreboard {
  color: white;
  background-color: rgba(0,0,0,0.2);
  padding: 20px 0;
  margin-bottom: 20px;
}