.jumbotron {
  background: linear-gradient(to bottom, black 20%, transparent 70%);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}

.jumbotron p {
  color: white;
}

h1 {
  font-family: 'Big Shoulders Text', sans-serif;
  font-size: 150px;
  color: black;
  text-shadow: 3px 3px 0 white;
  letter-spacing: -4px;
  line-height: 1em;
}

.scoreboard {
  color: white;
  background-color: rgba(0,0,0,0.2);
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 125px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 100px;
  }
}

