
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.col {
  text-align: center;
}

.click-image {
  width: 200px;
  height: 200px;
  border: 2px white solid;
  /*background-image: url(./terminator-genisys.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
