
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/mars-sunrise.jpg);
}

.col, .col-6 {
  text-align: center;
}

p {
  margin: 0;
}

.click-image {
  width: 200px;
  height: 200px;
  border: 2px white solid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 10px;
}
